@font-face {
    font-family:'Gotanbook';
    src: url(../fontes/Gotham/Gotham-Book.otf), format(otf);
}
@font-face {
    font-family:'Gotanlight';
    src: url(../fontes/Gotham/Gotham-Light.otf), format(otf);
}
@font-face {
    font-family:'trebuc';
    src: url(../fontes/trebuc/trebuc.ttf), format(ttf);
}
@font-face {
    font-family:trebucitali;
    src: url(../fontes/trebuc/Trebuchet-MS-Italic.ttf), format(ttf);
}
@font-face {
    font-family:'Gotanblack';
    src: url(../fontes/Gotham/Gotham-Black.otf), format(otf);
}
@media (min-width:850px)
{
    option
    {
        font-size: 20px;
    }
}
@media (max-width:849px)
{
    option
    {
        font-size: 2.5vw;
    }
}

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: rgb(227,227,227);
}
#bar1
{
    background-color:rgb(27,0,136);
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#bar1>p
{
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bl
{
    background-color: rgb(220,55,50);
    height: 100%;
    display: flex;
    align-items: center;
    margin-left:0px;

}
#bar2
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 127, 202);
    padding: 0px 10px;
}
#bar2>h3
{
    line-height: 16px;
    padding: 21px 0px 12px 0px;
    font-size: 12px;
    font-weight: normal;
    font-family:'Gotanbook';
}
#step1
{
    color: white;
    border-bottom: 5px solid rgb(77,159,215);
}
h3.nostep
{
    color:rgb(145, 197, 231);
}
div#h1
{
    background-color: rgb(25,175,240);
    padding:25px 65px;


}
div#h1>div
{
    justify-content: space-between;
    display: flex;
}
h1
{
    color: white;
    font-size:24px;
    font-family: "Gotanbook";
    font-weight: 500;
}
p
{
    color: black;
}
main{
    align-items: center;
    flex-direction: column;
    margin: auto;
    width:95%;
    display: flex;
    justify-items: center;
}
#id
{
    width: 100%;
    color: white;
    margin-top: 20px;
}
#idfora
{
    background-color:rgb(17,127,202);
    padding: 20px 20px;
}
p#N°LATAMPass
{
    color: white;    
    font-size: 14px;
    margin:10px 0px 0px 0px;
    line-height: 14px;
}
#id>p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#limites
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;

}
.limites
{
    height: 90px;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}
#limitep
{
    margin-right: 1px;
    padding: 20px 10px 20px 20px;
    font-family:'Gotanbook';
    font-size: 11px;
    line-height:11px;
    font-weight: normal;
    color:rgb(99, 99, 99);
}
#limiten
{
    padding: 20px 20px 20px 10px;
    margin-left: 1px;
}
#num
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}
#saldo
{
    color: rgb(17, 127, 202);
    font-family: 'Gotanblack';
    font-size: 22px;
}
#pontosp
{
    margin-left:5px;
    font-family:'Gotanblack';
    font-size: 9px;
    color:rgb(99, 99, 99);
}
#data
{
    color: rgb(99, 99, 99);
    font-size: 11px;
    font-family:'Gotanbook';
    line-height: 14px;
    font-weight: normal;
    font-style: italic;
}